[Unit]
    Description= Python Exporter for MDM PRE

    [Service]
    User=prometheus_ci
    Group=prometheus
    Type=simple
    ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::127939803019:role/rl_prometheus-pro --port 9917 

    [Install]
    WantedBy=default.target

