[Unit]
Description=Python Exporter for Energia Pre

[Service]
User=prometheus_ci
Group=prometheus
Type=simple
ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::681053834767:role/rl_prometheus-pro --port 9912 

[Install]
WantedBy=default.target
