[Unit]
Description= Python Exporter for compresidencia pro

[Service]
User=prometheus_ci
Group=prometheus
Type=simple
ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::357391338438:role/rl_prometheus-pro --port 9907 
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
    
