[Unit]
Description=Python Exporter for Management

[Service]
User=prometheus_ci
Group=prometheus
Type=simple
ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --port 9900

[Install]
WantedBy=default.target
