[Unit]
    Description= Python Exporter for DWH PRO

    [Service]
    User=prometheus_ci
    Group=prometheus
    Type=simple
    ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::086110397140:role/rl_prometheus-pro --port 9911 

    [Install]
    WantedBy=default.target
    
