[Unit]
Description=Python Exporter for Corp Pre

[Service]
User=prometheus_ci
Group=prometheus
Type=simple
ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::355997812774:role/rl_prometheus-pro --port 9908 

[Install]
WantedBy=default.target
