[Unit]
Description= Python Exporter for Renovables PRO

[Service]
User=prometheus_ci
Group=prometheus
Type=simple
ExecStart=/usr/bin/python3 /opt/prometheus/custom_exporter/custom_exporter.py --role arn:aws:iam::757233663371:role/rl_prometheus-pro --port 9920 

[Install]
WantedBy=default.target
